html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-image: url('https://cdn.statically.io/img/hdqwalls.com/wallpapers/miami-sunset-artistic-fc.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.row{
  padding:0 20px;
}
ul{
  list-style:none;
  padding:20px 0;
  li{
    padding:10px 0;
    text-transform:capitalize;
    font-size:1.5em;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08);
    padding:0px;
    background:#fff;
    margin-bottom:10px;
    border-radius: 5px;
    word-wrap:break-word;
    &:hover{
      background:#f3f3f3;
    }
    span{
      float:right;
    }
  }
}
small{
  color:#999;
}
[class^=col-]{
  padding-top:1px;
  padding-bottom:1px;
}
.contact-builder{
  background:#fff;
}
.contact-list{
  border-radius: 30px;
  background:#f3f3f3;
}
.container{
  background:#fff;
  padding-bottom:40px;
  padding-top:10px;
  border-radius: 30px;
}
.fav{
  background:orange;
}
//Color for icons
.glyphicon{
  padding-right:5px;
  color:#2874a6;
}
//color for btn icons
.btn-primary, .btn-danger{
  .glyphicon{
    padding-right:5px;
    color:#fff;
  }
}
.btn-default2{  
    padding-right:31px;
    color:#fff;
    background-color: #ac2925;
    border-color: #761c19;
}
.btn-default2{
  .glyphicon{
    padding-right:20px;
    color:#fff;
  }
}
.table-striped>tbody>tr:nth-of-type(odd), .table-striped>tbody>tr:nth-of-type(even){
    &.favorite {
      background:rgba(234,88,114,0.2);
      .glyphicon-heart{
        color:#EA5872;
      }
  }
}
.favorite-btn {
  //background:rgba(234,88,114,0.2);
  border:1px solid rgba(234,88,114,0.2);
  .on .glyphicon-heart{
    //changes to red
    color:#EA5872;
  }
  .glyphicon-heart{
    color:#EA5872;
  }
}

form{
  padding-bottom:5px;
  padding-top:10px;
}
.form-group{
  //padding-bottom:10px;
}
footer[class^=col-]{
  opacity:0.5;
  margin-top:40px;
  img{
    height:30px;
  }
}
th{
  cursor:pointer;
}
table{   
  min-width:500px;
  width:100%;
}
.table-wrap{
  overflow-x:auto;
  width:100%;
}
